@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

/* Put your CSS here */
html, body {
  margin: 0;
  padding:0;
}

body > div {
  padding-top:20px;
}
@import "variables";
@import "scaffold";

@import "dashboard_index";
@import "colors";
@import "metric";
@import "report";
@import "results";
@import "links";

