#metric {
  margin-top: 40px;

  .main {
    display: table-row;


    .filter-wrapper {
      display: table-cell;

      @media screen and (max-width: 1300px) {
        .filter-content {
          height: 300px;
          overflow-y: auto;
          overflow-x: hidden;
        }
      }



      .filter-title{
        background-color:#CECECE;
        padding:10px;
        @media screen and ( max-width : 1300px ){
          font-size:12px;
          padding:2px;
        }
        @media screen and (min-width : 1300px){
          font-size:17px;
          padding:10px;
        }

        font-weight: bold;
        a{
          float:right;
        }
      }
      ul{
        list-style: none;
        padding:0;
        margin:0;
        max-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
        li{

          padding:0;
          margin:0;
          cursor:pointer;

          @media screen and ( max-width : 1300px ){
            padding-left:10px;
            padding-top:1px;
            padding-bottom:1px;
          }
          @media screen and ( min-width : 1300px ){
            padding-left:40px;
            padding-top:5px;
            padding-bottom:5px;
          }



          &:hover{ background-color:white; a{ color:#454545; text-decoration: underline; } }
        }


      }

      .filter-item {
        width: 300px;
        @media screen and (max-width: 1300px) {
          width: 160px;
        }
        vertical-align: top;
      }
    }

    .metric-viewport {
      width:100%;
      display: table-cell;

      .current-filter{
        font-family: monospace;
        padding: 10px;
        background-color: #454545;
        color: white;
        text-align: center;
      }

      .instructions{
        text-align:center;
        background-color:white;
        padding:5px;
      }

      .chart-wrapper {
        display:table-row;
        .chart-widget {
          .chart-widget-container{
            @media screen and ( min-width : 1300px ){
              height:400px; width:600px;
            }
            @media screen and ( max-width : 1300px ){
              height:200px; width:400px;
            }
            }
          display:table-cell;
          padding:30px;
          height:100%;
          @media screen and ( max-width : 1300px ){
            width: 400px;
          }

          @media screen and ( min-width : 1300px ){
            width: 600px;
          }
          background-color: darkgray;
          display: inline-block;
        }
        .zoom {
          display:table-cell;
          display: inline-block;
          vertical-align: top;

          @media screen and ( max-width : 1300px ){
            width:200px;
          }
          @media screen and ( min-width : 1300px ){
            width:400px;
          }


          pre {
            padding:0;
            margin:0;


            @media screen and ( max-width : 1300px ){
              height: 260px;
              width: 200px;
              font-size:9px;
              line-height:16px;
            }
            @media screen and ( min-width : 1300px ){
              height: 460px;
              width: 400px;
            }
            overflow-y:auto;
            overflow-x:visible;
            border-radius: 0;
          }
        }

      }
    }
  }
}

body.dark{
  #metric{
    .filter-wrapper{
      ul{
        li{
          a{
            color:white;
          }
        }
      }
    }
  }
}