body{background-image:url('images/background.png'); margin:0; padding:0; font-family: arial;}
body.dark{background-color:#606060; margin:0; padding:0; font-family: arial; background-image: none;}

.effect2
  {
    position: relative;
  }
  .effect2:before, .effect2:after
  {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .effect2:after
  {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }



/*** Ribbon ***/


.ribbon {
   width: 300px;
   position: absolute;
   text-align: center;
   font-size: 20px!important;
   background: #d64b4b;
   background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
   background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
   background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;


  h1{
    font-size: 25px!important;
       color: #801111;
       text-shadow: #d65c5c 0 1px 0;
       margin:0px;
       padding: 15px 10px;
  }

  &:before, &:after{
    content: '';
      position: absolute;
      display: block;
      bottom: -1em;
      border: 1.5em solid #c23a3a;
      z-index: -1;
  }

  &:before{
    left: -2em;
      border-right-width: 1.5em;
      border-left-color: transparent;
      -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
      -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
      box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  }

  &:after{
    right: -2em;
      border-left-width: 1.5em;
      border-right-color: transparent;
      -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
      -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
      box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
  }

  .ribbon-content{
    &:before, &:after{
      border-color: #871616 transparent transparent transparent;
        position: absolute;
        display: block;
        border-style: solid;
        bottom: -1em;
        content: '';
    }

    &:before{
      left: 0;
      border-width: 1em 0 0 1em;
    }

    &:after{
      right: 0;
         border-width: 1em 1em 0 0;
    }
  }
}

.ribbon-stitches-top{
  margin-top:2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);

}

/** corner ribbon **/

.corner-ribbon-box {
  min-height: 120px;
  background: white;
  position: relative;
  width:300px;
  z-index: 90;

  .corner-ribbon-wrapper {
    width: 75px;
    height: 78px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    &.left{
      left: -3px;
    }

    &.right{
          right: -3px;
    }

    .corner-ribbon{
      min-height:15px;
      font: bold 15px Sans-Serif;
      color: #333;
      text-align: center;
      text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
      position: relative;
      padding: 7px 0;
      width: 110px;
      color: #6a6340;
      -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
      -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
      box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
      &.left{
        -webkit-transform: rotate(-45deg);
        -moz-transform:    rotate(-45deg);
        -ms-transform:     rotate(-45deg);
        -o-transform:      rotate(-45deg);

        left: -29px;
        top: 10px;
      }

      &.right{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);

        right: 8px;
        top: 13px;
      }

      &:before, &:after{
        content: "";

        border-left:  3px solid transparent;
        border-right: 3px solid transparent;
        position:absolute;
        bottom: -3px;
      }

      &:before{
        left:0;
      }

      &:after{
        right:0;
      }

      &.green{
         background-color: #BFDC7A;
         background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
         background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
         background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
         background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
         background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
        &:before, &:after{
          border-top:   3px solid #6e8900;
        }
      }

      &.red {
        color: #fff;
        background-color: #d64b4b;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
        background-image: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
        background-image: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
        background-image: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
        background-image: -o-linear-gradient(top, #d64b4b, #ab2c2c);
        &:before, &:after {
          border-top: 3px solid #871616;
        }
      }

      &.yellow {
        background-color: #ffff55;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ffff00), to(#ffff55));
        background-image: -webkit-linear-gradient(top, #ffff00, #ffff55);
        background-image: -moz-linear-gradient(top,  #ffff00, #ffff55);
        background-image: -ms-linear-gradient(top,  #ffff00, #ffff55);
        background-image: -o-linear-gradient(top,  #ffff00, #ffff55);
        &:before, &:after {
          border-top: 3px solid #ff9900;
        }
      }
    }
  }
}



.dark{
  &, a:hover, a:active, * {color:white;}
  input, button{ color:black; }


}