language: node_js
node_js:
  - "0.10"
before_script:
  - gem install sass
  - gem install compass
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g grunt-cli
  - npm install -g bower
  - bower install
  - bower update
  - grunt test
notifications:
  email:
    recipients:
#      - guym@gigaspaces.com
#      - erez@gigaspaces.com
      - itsik@gigaspaces.com
    on_success: never
    on_failure: always
